In [1]:
import pandas as pd
import numpy as np

In [33]:
falsy_values = (0, False, None, '', [], {},"jfgjk")
any(falsy_values)

True

In [42]:
a = np.array([1, 2, 3, np.nan, np.nan, 4])
a.sum()

nan

In [53]:
np.isfinite([0,1,1,2,np.nan])

array([ True,  True,  True,  True, False])

In [75]:
a=np.array([1,2,3,4,5,6])
b=np.array([True,False,True,False,False,True])
a[b]

array([1, 3, 6])

In [79]:
pd.isnull(np.nan)

True

In [84]:
s = pd.Series([1, 2, 3, None, None, 4])
s.dropna()

0    1.0
1    2.0
2    3.0
5    4.0
dtype: float64

In [97]:
df = pd.DataFrame({
    'Column A': [1, np.nan, 30, np.nan,1],
    'Column B': [2, 8, 31, np.nan,1],
    'Column C': [np.nan, 9, np.nan, 100,1],
    'Column D': [5, 8, 34, 110,1],
})
df

   Column A  Column B  Column C  Column D
0       1.0       2.0       NaN         5
1       NaN       8.0       9.0         8
2      30.0      31.0       NaN        34
3       NaN       NaN     100.0       110
4       1.0       1.0       1.0         1

In [98]:
df[df.isnull()]=0
len(df)

5